html {
  scroll-behavior: smooth
        position: relative;
  top: 0;
  left: 0;
  max-width: 100vw;
  min-height: 200vh;
  margin: 0px;
  padding: 0px;
  border: 0px;
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: 'Montserrat';
  font-weight: 400;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: '#';
  text-transform: uppercase;
}
h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.bold {
  font-weight: 600;
}
